<!DOCTYPE html>
<html>
<head>
  <title>Zielona szkoła Poradnik dietetyczny</title>
	
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
	<div>
		<%= render 'home/header' %>
	</div>

	<div>
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>  
	</div>

<div class="container">
<%= yield %>
</div>				
	



</body>
<footer><p> &copy;2016 Aleksandra Żurawska </p>
</footer>
</html>
