<table>
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Content</th>
      <th>Category</th>
      <th>Added</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= raw(article.content) %></td>
        <td><%= article.category_id %></td>
        <td><%= time_ago_in_words article.created_at %> ago</td>
        <td><%= link_to 'Wyświetl', article %></td>
        <td><%= link_to 'Edytuj', edit_article_path(article) %></td>
        <td><%= link_to 'Usuń', article, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj artykuł', new_article_path %>
