 <div class="row">
<div class="transitions-enabled">
    <% @articles.each do |article| %> 
      <div class="box">  
        
                <div class="col-sm-6 col-md-4">
                   <div class="thumbnail">
                      <%= link_to image_tag(article.image.url(:medium)), article %>
                      <div class="caption">
                        <%= time_ago_in_words article.created_at %> ago 
                        <h3><%= link_to article.title, article %></h3>
                        <%= raw(article.content) %>                  
                        <p><%= link_to 'Edytuj', edit_article_path(article), class: "btn btn-primary", role: "button" %>
                        <%= link_to 'Usuń', article, method: :delete, data: { confirm: 'Jesteś pewien?' },class: "btn btn-primary", role: "button"  %> </p>
                        </div>
                    </div>
                </div>
        </div>
 
    <% end %>
</div>
       </div>      