<div class="panel panel-default widoczek">
	<div class="tloartshow">
			<div class="zdjecieart">
				<%= image_tag @article.image.url %><br>
			</div>

			<div class="artcontent">
	  				<h1 class="articletitle"><%= @article.title %></h1>

	  				<%= raw(@article.content) %>

		  				<div class="dateart">
		  					<p>Dodany <%= @article.created_at.strftime("%d %B %Y") %></p>
		  				</div>

  			</div>


	</div>			
</div>
  			

<div class="panel panel-default widoczek">
<div class="commentart">
					<h2> Liczba komentarzy: <%= @article.comments.count %></h2>
						<%= render @article.comments %>

					<h3>Dodaj komentarz:</h3>
						<%= render "comments/form" %>
			</div>
					<div class="panel-footer">
					<%if user_signed_in? %>
						<% if current_user.admin? %>
							<%= link_to 'Edytuj', edit_article_path(@article) %> 
						<% end %>
						<%= link_to 'Wstecz', articles_path %>
					<% else %>
						<%= link_to 'Wstecz', articles_path %>
					<% end %>

</div>

